<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../css/sm.min.css">
    <script type='text/javascript' src='../../js/sui/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='../../js/sui/sm.min.js' charset='utf-8'></script>
</head>
<body class="theme-dark">
<header class="bar bar-nav">
    <button class="button pull-left" onclick="javascript:history.back(-1);">
        返回
    </button>
    <h1 class='title'>登录</h1>
</header>
<div class="content">
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">用户名</div>
                        <div class="item-input">
                            <input type="email" placeholder="输入用户名" id="username">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">密码</div>
                        <div class="item-input">
                            <input type="password" placeholder="输入密码" id="password">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">验证码</div>
                        <div class="item-input">
                            <input type="email" placeholder="输入验证码" id="code">
                        </div>
                        <div class="item-title label">
                            <a id="codeimg" rel="external nofollow" title="点击更换验证码">
                                <img id="imgVerify" src="" alt="更换验证码" height="36" width="180">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-50"><a href="#" class="button button-big button-fill button-danger"
                                   onclick="javascript:history.back(-1);">取消</a></div>
            <div class="col-50"><a href="#" class="button button-big button-fill button-success.theme-dark" id="submit">登录</a>
            </div>
        </div>
    </div>
    <!-- 请勿删除，保留源，谢谢 -->
    <div style="width:100%; position:fixed; left:0; bottom:0;" th:include="@{footer.html} :: companyInfo" th:with="data='UI: SUI MOBILE'"></div>
    <!-- 请勿删除，保留源，谢谢 -->
</div>
<script type='text/javascript'
        src='../../js/auth/login.js'></script>
</body>
</html>
</html>